# Arithmetic operator

In [ ]:
# modulus
8%3

2

In [ ]:
# floor division
8//3

2

In [ ]:
8/3

2.6666666666666665

In [ ]:
# exponentiation
2**3

8

# LATEX
 $$x=9$$
 $$y=8$$
 find $x^y$

$\frac{x}{y}$

$$volume=\frac{x}{y} \pi r^3$$

In [ ]:
a=20 # True

In [ ]:
20=a # False (python ma hudaiana)

SyntaxError: ignored

In [ ]:
apple='a'

In [ ]:
apple=0

In [ ]:
false=0

In [ ]:
true=0

In [ ]:
false='f'

In [ ]:
true='t'

In [ ]:
False=0

SyntaxError: ignored

In [ ]:
True=0

SyntaxError: ignored

In [ ]:
False='f'

SyntaxError: ignored

In [ ]:
a=90
A=89
print(f'the value of a is {a}')
print(f"the value of A is {A}")

the value of a is 90
the value of A is 89

In [ ]:
# underscroll ra space biana matra lekhna paunxa
@name

SyntaxError: ignored

In [ ]:
name_riya='riya'

In [ ]:
nameriya='njd'

In [ ]:
name riya='riya'

SyntaxError: ignored

In [ ]:
1name='riya'

SyntaxError: ignored

In [ ]:
nmae1anme='riya' # number lai bich ma or pachadi matra lekhna milxa

In [ ]:
nmae1='riya'

In [ ]:
# euclidien distance
x1=2
x2=9
y1=3
y2=8
d=((x2-x1)**2+(y2-y1)**2)**0.5
print(f"the distance is {d}")

the distance is 8.602325267042627

In [ ]:
# update variable value
batta='horlicks'
print(f"batta ma pailek thiyo {batta}")
batta='chini'
print(f"batta ma aba k xa {batta}")

batta ma pailek thiyo horlicks
batta ma aba k xa chini

In [ ]:
# variable ma value update garna arthematic operator chahinxa
a=90
a=a+10
print(a)

100

In [ ]:
min_in_sec=42*60+42
min_in_sec

2562

# The volume of a sphere with $$radius =\frac{4}{3}\pi r^3$$
find the radius of 5

In [ ]:
def volume(radius):
    import math
    radius=float(input("enter a radius"))
    volume=4/3*math.pi*radius**3
    volume=round(volume,2)
    print(f"the volume is {volume}")

In [ ]:
print(volume(radius))

enter a radius 4
the volume is 268.08
None

In [ ]:
print(volume(radius))

enter a radius 3
the volume is 113.1
None

In [ ]:
# operator precedence
# 1.) suru ma exponentiation solve garne -(sabai exponentiation huda rt-lft aru bela lft-t)
# D-M
# A-S

In [ ]:
num=[1,2,3,4]
for item in num:
    if item %2==0:
        print(f"the {item} is even")
    else: 
        print(f"the {item} is odd")

the 1 is odd
the 2 is even
the 3 is odd
the 4 is even

In [ ]:
[0 if item %2==0 else item for item in num]

[1, 0, 3, 0]

In [ ]:
def oddeven(num):
    num=int(input("enter a number"))
    if num %2==0:
        print("even")
    else:
        print("odd")

In [ ]:
print(oddeven(num))

enter a number5
odd
None

In [ ]:
print(oddeven(num))

enter a number 2
even
None

In [ ]:
# square and cube
num=[1,2,4,5,6]

In [ ]:
sq=[]
cube=[]
for item in num:
    sq.append(item**2)
    cube.append(item**3)

In [ ]:
sq

[1, 4, 16, 25, 36]

In [ ]:
cube

[1, 8, 64, 125, 216]

In [ ]:
[item **2 for item in num]

[1, 4, 16, 25, 36]

In [ ]:
10==10

True

In [ ]:
'10'==10 # string and integer are never equal

False

In [ ]:
n=input("enter a name")

enter a name riya

In [ ]:
n

' riya'

In [ ]:
# type casting
a='riya'
type(a)

str

In [ ]:
s=12
type(s)

int

In [ ]:
q=9.7
type(q)

float

In [ ]:
z=-9
type(z)

int

In [ ]:
u=('riya','rita')
type(u)

tuple

In [ ]:
d=['riya','rita']
type(d)

list

In [ ]:
f={'riya','rita'}
type(f)

set

In [ ]:
g={
    'name':'riya'
}

In [ ]:
type(g)

dict

In [ ]:
inf={
    "name":['riya']
}

In [ ]:
type(inf)

dict

# WAP to swap between two variable

In [ ]:
num1=8
num2=9
print("the value of num1 before swapping :",num1)
print("the value of num2 before swapping :",num2)
temp=num1
num1=num2
num2=temp
print("the value of num1 after swapping :",num1)
print("the value of num2 after swapping :",num2)

the value of num1 before swapping : 8
the value of num2 before swapping : 9
the value of num1 after swapping : 9
the value of num2 after swapping : 8